extends layout

block content
	h1= title
	div(id='audioSummary', value=audioUrl) #{audioUrl}
	div(id='tempo', value=tempo ) #{tempo}
	div(id='one') #{one}
	div(id='two') #{two}
	div(id='three') #{three}
	div(id='four') #{four}
	div(id='song') #{song}
	button(id='play')
		Play Play!


	a(href='/')
		input(id='backButton', type='button', value='Back')