extends layout

block content
	h1= title
	div(id='audioSummary', value=audioUrl) #{audioUrl}
	div(id='tempo', value=tempo ) #{tempo}
	button(id='play')
		Play Play!

	a(href='/')
		input(id='backButton', type='button', value='Back')